/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/fonts/vendor/vazir-dist

/public/css/new-admin.css
/public/js/new-admin.js

/public/css/app.css
/public/js/app.js
